
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form name="myForm" action="" onsubmit="" method="post">
<input type="text" name="email" class="form-control" placeholder="Enter your email"> <br> <br>
<input type="password" name="password" class="form-control" placeholder="Enter your password"> <br> <br>
<input name="submit" type="submit" value="LOGIN">
</form>
<br>


If you don't have a account <a href="signup.php">SignUp Here</a>

